$primary-color: #231f1f;
$secondary-color: #4b4242;
$white: #ffffff;
$black: #000000;
$highlight-color: #ff0000;

$font-main: "Roboto Light", sans-serif;

$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 40px;
$spacing-xlarge: 50px;

$breakpoint-mobile: 820px;
