// Color Variables
$primary-color: #231f1f;
$secondary-color: #4b4242;
$white: #ffffff;
$black: #000000;
$highlight-color: #ff0000;

// Font Variables
$font-main: "Roboto Light", sans-serif;

// Spacing Variables
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;
$spacing-xlarge: 50px;

// Breakpoints
$breakpoint-mobile: 820px;
